***Задание 1***

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [28]:
import pandas as pd
ratings = pd.read_csv('ml-latest/ratings.csv')
#ratings.head()
ratings_stats = ratings.filter(items = ['userId', 'movieId', 'rating'])

In [29]:
top_rating = 5.0

In [30]:
# вар 1
res = ratings_stats[ ratings_stats.rating == top_rating ]
res.groupby('movieId').count()['userId'].sort_values(ascending=False).head(1)

movieId
318    48762
Name: userId, dtype: int64

In [31]:
# вар 2
res2 = ratings_stats.query('rating == {}'.format(top_rating))
res2.groupby('movieId').count()['userId'].sort_values(ascending=False).head(1)

movieId
318    48762
Name: userId, dtype: int64

***Задание 2***

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [33]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [62]:
pribalt = power[((power.country == 'Latvia') | (power.country ==  'Lithuania') | (power.country == 'Estonia'))
     & ((power.category == 4) | (power.category == 12) | (power.category == 21))
      & ((power.year >= 2005) & (power.year <= 2010))
        & (power.quantity >= 0)
     ]

In [63]:
pribalt['quantity'].sum()

240580.0

***Задание 3***

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [89]:
site_table = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', 
                          header=0, encoding='utf8')[1]

In [90]:
print(type(site_table))
site_table.head()

<class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,807189,-,812577,"-0,66 %",-05388,20:49:00
1,NaN,EUR/RUB,733280,-,735955,"-0,36 %",-02675,20:48:00
2,NaN,USD/RUB,660442,-,662245,"-0,27 %",-01803,20:48:00
3,NaN,JPY/RUB,06221,-,06312,"-1,44 %",-00091,20:49:00
4,NaN,CNY/RUB,92353,-,93325,"-1,04 %",-00972,20:48:00