***Задание 1***

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [49]:
import pandas as pd
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [50]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [51]:
def classificator(row):
    if (row['rating'] <= 2) :
        return 'низкий рейтинг'
    elif (row['rating'] <=4) :
        return 'средний рейтинг'
    elif (row['rating'] > 4) :
        return 'высокий рейтинг'

In [52]:
ratings['class'] = ratings.apply(classificator, axis=1)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

***Задание 2***

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [53]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] 
}
keywords = pd.read_csv('keywords.csv')

In [54]:
def geo_classificator(row):
    arr_keyword = row['keyword'].split(' ')
    for region,cities in geo_data.items():
        res = list(set(arr_keyword) & set(cities))
        if res:
            return region
    return 'undefined'

In [55]:
keywords['region'] = keywords.apply(geo_classificator, axis=1)

In [56]:
# проверяем работает ли
group_keywords = keywords.groupby('region').count().reset_index()
group_keywords.head()

           region  keyword  shows
0       undefined    99406  99406
1  Дальний Восток       64     64
2    Северо-Запад      146    146
3           Центр      384    384

***Задание 3***

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

    2.1 для каждой строки пройдите по всем годам списка years
    
    2.2 если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    
    2.3 если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год


3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [57]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

In [58]:
years = list(range(1950,2011))

In [59]:
def production_year(row):
    for year in years:
        if row['title'].find(str(year)) != -1:
            return str(year)
    return '1900'

In [60]:
movies['year'] = movies.apply(production_year, axis=1)

,movieId,title,genres,year
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men (1995),Comedy|Romance,1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II (1995),Comedy,1995

In [183]:
#считаем средний рейтинг по movieId

def groupby_function(data):
    return data.rating.mean()

avg_rating = ratings.groupby('movieId').apply(groupby_function).reset_index()
avg_rating.columns = ['movieId','rating']

def avg_rating_to_movie(row):
    for rat in avg_rating.itertuples():
        if getattr(rat, 'movieId') == row['movieId']:
            return getattr(rat, 'rating')

In [184]:
# добавляем средний рейтинг в dataframe и сортируем. Работает достаточно долго, 3-5 минут :) 
movies['avg_rating'] = movies.apply(avg_rating_to_movie, axis=1)

In [188]:
movies.sort_values(by=['avg_rating'], ascending=[False]).head(200)

,movieId,title,genres,year,avg_rating
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900,5.0
7321,71180,Padre padrone (1977),Drama,1977,5.0
6651,51471,Amazing Grace (2006),Drama|Romance,2006,5.0
6684,52617,Woman on the Beach (Haebyeonui yeoin) (2006),Comedy|Drama,2006,5.0
6726,53887,O Lucky Man! (1973),Comedy|Drama|Fantasy|Musical,1973,5.0
6739,54251,Dorian Blues (2004),Comedy,2004,5.0
6748,54328,My Best Friend (Mon meilleur ami) (2006),Comedy,2006,5.0
6807,55555,"Edge of Heaven, The (Auf der anderen Seite) (2...",Drama,2007,5.0
6860,56869,Drained (O cheiro do Ralo) (2006),Comedy,2006,5.0
6867,57038,To the Left of the Father (Lavoura Arcaica) (2...,Drama,2001,5.0
6918,58649,Napoléon (1927),Drama|War,1900,5.0
6942,59273,Delirious (2006),Comedy|Drama,2006,5.0
6949,59392,Stargate: The Ark of Truth (2008),Action|Fantasy|Sci-Fi,2008,5.0
6953,59447,Fiorile (1993),Drama,1993,5.0
6956,59549,Shelter (2007),Drama|Romance,2007,5.0
6961,59684,Lake of Fire (2006),Documentary,2006,5.0
6995,60384,Z Channel: A Magnificent Obsession (2004),Documentary,2004,5.0
7003,60674,Stargate: Continuum (2008),Sci-Fi,2008,5.0
7016,61013,Absolute Giganten (1999),Action|Comedy|Drama|Romance,1999,5.0
7030,61250,"House Bunny, The (2008)",Comedy,2008,5.0
7048,62115,Six Shooter (2004),Comedy|Drama,2004,5.0
7090,63836,"Manson Family, The (2003)",Crime|Drama|Horror,2003,5.0
7104,64278,"Pervert's Guide to Cinema, The (2006)",Documentary,2006,5.0
7116,64660,Waiter (Ober) (2006),Comedy,2006,5.0
7128,65037,Ben X (2007),Drama,2007,5.0
7136,65216,Defiance (2008),Drama|Thriller|War,2008,5.0
7194,67504,Land of Silence and Darkness (Land des Schweig...,Documentary,1971,5.0
779,961,Little Lord Fauntleroy (1936),Drama,1900,5.0
7270,69761,Through the Olive Trees (Zire darakhatan zeyto...,Drama,1994,5.0
7305,70762,"Curiosity of Chance, The (2006)",Comedy,2006,5.0
...,...,...,...,...,...
2751,3447,"Good Earth, The (1937)",Drama,1900,5.0
2441,3038,"Face in the Crowd, A (1957)",Drama,1957,5.0
2427,3021,"Funhouse, The (1981)",Horror,1981,5.0
2857,3575,Defying Gravity (1997),Drama,1997,5.0
2862,3580,Up at the Villa (2000),Drama,2000,5.0
2882,3612,The Slipper and the Rose: The Story of Cindere...,Adventure|Children|Fantasy|Musical|Romance,1976,5.0
2395,2984,On Any Sunday (1971),Documentary,1971,5.0
2393,2982,"Guardian, The (1990)",Horror|Thriller,1990,5.0
2913,3656,Lured (1947),Crime|Film-Noir|Mystery|Thriller,1900,5.0
3270,4088,"Big Town, The (1987)",Drama|Romance|Thriller,1987,5.0
2989,3737,Lonely Are the Brave (1962),Drama|Western,1962,5.0
2998,3746,Butterfly (La lengua de las mariposas) (1999),Drama,1999,5.0
2364,2945,Mike's Murder (1984),Mystery,1984,5.0
3005,3757,Asylum (1972),Horror,1972,5.0
3068,3837,Phantasm II (1988),Action|Fantasy|Horror|Sci-Fi|Thriller,1988,5.0
3075,3845,And God Created Woman (Et Dieu... créa la femm...,Drama,1956,5.0
3080,3851,I'm the One That I Want (2000),Comedy,2000,5.0
3100,3879,"Art of War, The (2000)",Action|Thriller,2000,5.0
3121,3909,Woman on Top (2000),Comedy|Romance,2000,5.0
2323,2897,And the Ship Sails On (E la nave va) (1983),Comedy|War,1983,5.0
3155,3947,Get Carter (1971),Action|Crime|Drama|Thriller,1971,5.0
2308,2880,Armour of God (Long xiong hu di) (1987),Action|Adventure|Comedy,1987,5.0
3261,4076,Two Ninas (1999),Comedy|Romance,1999,5.0
3830,4930,Funeral in Berlin (1966),Action|Drama|Thriller,1966,5.0
3835,4945,"Enforcer, The (1976)",Crime,1976,5.0
3920,5062,Seconds (1966),Mystery|Sci-Fi|Thriller,1966,5.0
5654,9010,Love Me If You Dare (Jeux d'enfants) (2003),Drama|Romance,2003,5.0
1646,2086,One Magic Christmas (1985),Drama|Fantasy,1985,5.0
5228,7773,"Bang, Bang, You're Dead (2002)",Drama,2002,5.0
5284,7932,Dark Days (2000),Documentary,2000,5.0