***Задание 1***

Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId

In [130]:
import pandas as pd
ratings = pd.read_csv('ml-latest-small/ratings.csv')

In [131]:
# рассчитываем дополнительные данные количество оценок, макс и мин дату поставленных оценок 
user_ratings = ratings.groupby('userId')['rating'].agg(['count'])
user_time = ratings.groupby('userId')['timestamp'].agg(['max', 'min'])
# склеиваем всё в один датафрейм
result = pd.merge(user_ratings, user_time, how='inner', left_on='userId', right_index=True)
result.rename(columns={'count': 'rating_count','min': 'timestamp_min', 'max': 'timestamp_max'}, inplace=True)

In [135]:
# оставляем только тех кто больше 100 оценок поставил
result = result[result.rating_count >= 100]

In [149]:
# добавляем разницу Life Time Value 
result['LTV'] = result['timestamp_max'] - result['timestamp_min']

In [148]:
# проверяем что данные получились, сортируем
result.sort_values(by='LTV',ascending=True).head()

        rating_count  timestamp_max  timestamp_min   LTV
userId
536              109      829471925      829471719   206
609              140     1029870367     1029869519   848
316              140     1460823562     1460822646   916
217              104     1108160981     1108160000   981
110              120      840101508      840100360  1148

In [147]:
# вычисляем среднее между датами оценок, переводим в понимаемые велиничны 
avg_ltv = result['LTV'].mean()
print('Среднее время жизни пользователя ', round(avg_ltv/3600/24), ' дней')

Среднее время жизни пользователя  455  дней

***Задание 2***

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
* аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

In [161]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

In [162]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

In [163]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

In [164]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [194]:
#client_base_new_no_addr = pd.merge(client_base, air, on='client_id', how='left')
client_base_new_no_addr = pd.merge(client_base[['client_id']],air,on='client_id', how='left')
client_base_new_no_addr = pd.merge(client_base_new_no_addr, auto, on='client_id', how='left')
client_base_new_no_addr = client_base_new_no_addr.merge(rzd, on='client_id', how='left')
client_base_new_no_addr.fillna('0', inplace=True)

client_base_new_no_addr.head()

   client_id air_revenue auto_revenue rzd_revenue
0        111           0            0        1093
1        112           0            0        2810
2        113           0        57483       10283
3        114           0           83        5774
4        115          81          912         981

In [187]:
client_base_new = client_base.merge(air, on='client_id', how='left')
client_base_new = client_base_new.merge(auto, on='client_id', how='left')
client_base_new = client_base_new.merge(rzd, on='client_id', how='left')
client_base_new.fillna('0', inplace=True)

client_base_new.head()

   client_id          address air_revenue auto_revenue rzd_revenue
0        111  Комсомольская 4           0            0        1093
1        112   Энтузиастов 8а           0            0        2810
2        113  Левобережная 1а           0        57483       10283
3        114          Мира 14           0           83        5774
4        115        ЗЖБИиДК 1          81          912         981

***Задание 3***

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок?

In [196]:
pd.merge(user_data, user_geo, on="user_id", how="left")

NameError: name 'user_data' is not defined